.Q_Icon {
  &.cross {
    background-image: url('../../assets/images/cross.svg');
  }

  &.user {
    background-image: url('../../assets/images/roles.svg');
  }

  &.dashboard {
    background-image: url('../../assets/images/dashboard.svg');
  }

  &.messages {
    background-image: url('../../assets/images/messages.svg');
  }

  &.pages {
    background-image: url('../../assets/images/pages.svg');
  }

  &.help {
    background-image: url('../../assets/images/help.svg');
  }

  &.settings {
    background-image: url('../../assets/images/settings.svg');
  }

  &.arrow-left {
    background-image: url('../../assets/images/arrow-slider-left.svg');
  }

  &.arrow-right {
    background-image: url('../../assets/images/arrow-slider-right.svg');
  }

  &.burger {
    background-image: url('../../assets/images/burger.svg');
  }
  &.close {
    background-image: url('../../assets/images/close.svg');
  }
}
