.O_MultiselectInput {
  box-shadow: 9px 9px 35px rgba(0, 0, 0, 0.09);
  margin: 20% auto;
  width: 610px;
  border-radius: 10px;

  .C_OptionsList {
    margin-top: -15px;
    background-color: #ffff;
    padding: 20px 20px 20px 20px;
  }

  .A_Chip {
    margin: 4px 4px;
  }

  .A_InputContainer {
    box-shadow: none;
    flex-direction: row;
  }
}
