.O_SliderComment {
  margin: 10% auto;
  position: relative;
  width: 740px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .W_SliderCommentContent {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .W_SliderCommentOpenFrame {
    width: 600px;
    display: flex;
    overflow: hidden;
    transform: translate3d(0, 0, 0);
  }

  .C_SliderCommentRail {
    display: flex;
    transition: transform 0.3s;
  }

  .W_SliderCommentText {
    width: 600px;
    text-align: center;
    color: #495151;

    p {
      font-size: 16px;
      line-height: 140%;
      font-weight: 200;
    }

    h3 {
      font-size: 20px;
      font-weight: 600;
    }
  }

  .W_SliderCommentsStatus {
    display: flex;
    margin: 20px auto;
  }

  .Q_Icon {
    width: 35px;
    height: 35px;
  }
}
