.A_Button {
  position: relative;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #426060;
  background-color: #b7fcfc;
  cursor: pointer;
  user-select: none;

  &:hover {
    background-color: #5be7e7;
  }
  &.disabled {
    color: #abd9d9;
    background-color: #f2ffff;
    cursor: default;
  }
}
