.A_MenuItem {
  display: flex;
  width: 304px;
  padding: 20px 40px;
  border-radius: 6px;
  font-size: 20px;
  font-weight: 300;
  color: #426060;
  cursor: pointer;
  align-items: center;
  text-decoration: none;

  .Q_Icon {
    width: 35px;
    margin-right: 20px;
    height: 35px;
    color: #426060;
    cursor: pointer;
  }

  &:hover {
    text-decoration: none;
    background-color: #dcffff;
  }
}
