.O_Slider {
  margin: 10% auto;
  position: relative;
  width: 760px;
  overflow: hidden;
  display: flex;
  flex-direction: column;

  .W_SliderFrame {
    width: 760px;
    border-radius: 12px;
    overflow: hidden;
    -webkit-backface-visibility: hidden;
    -moz-backface-visibility: hidden;
    -webkit-transform: translate3d(0, 0, 0);
    -moz-transform: translate3d(0, 0, 0);
  }

  .C_SliderRail {
    display: flex;
    transition: transform 0.3s;
  }

  .Q_SliderImage {
    width: 760px;
  }

  .M_SliderController {
    width: 400px;
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    margin: 20px auto;
    align-items: center;

    .Q_Icon {
      width: 35px;
      height: 35px;
    }
  }
}
