.A_OptionItem {
  padding: 11px 20px 10px;
  font-family: 'Inter', Helvetica, Arial, sans-serif;
  font-size: 16px;
  color: #616a6a;
  font-weight: 300;
  border-radius: 6px;

  &:hover {
    background-color: #d7ffff;
  }
}
