.A_TextButton {
  position: relative;
  padding: 14px 20px;
  border-radius: 10px;
  font-size: 20px;
  font-weight: 500;
  color: #426060;
  cursor: pointer;
  user-select: none;
  text-decoration: underline;

  &:hover {
    color: #5be7e7;
  }
  &.disabled {
    color: #abd9d9;
    cursor: default;
  }
}
