.M_SliderController {
  width: 400px;
  display: flex;
  justify-content: space-between;
  margin: 20px auto;
  align-items: center;

  .С_MeatBalls {
    display: flex;
  }

  .Q_Icon {
    width: 35px;
    height: 35px;
  }
}
