.StateM_Chip {
  margin-left: 40%;
  margin-top: 10%;
  display: inline-flex;
}
.M_Chip {
  font-size: 16px;
  width: fit-content;
  color: #426060;
  cursor: pointer;
  display: flex;
  background-color: #b7fcfc;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 300;
  margin-top: 20%;
  margin-left: 50%;
}

.M_Chip:hover {
  text-decoration: none;
  color: #426060;
  background-color: #5be7e7;
}

.M_Chip:last-child {
  font-size: 16px;
  width: fit-content;
  color: #abd9d9;
  cursor: default;
  display: flex;
  background-color: #f2ffff;
  padding: 6px 10px;
  text-decoration: none;
  border-radius: 10px;
  font-weight: 300;
  margin-top: 20%;
  margin-left: 50%;
}
